.button {
  border: none;
  color: white;
  padding: 10px, 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  margin-right: 10px;
}

.button-red {
  background-color: #e03c31;
}

.button-orange {
  background-color: #ed9121;
}
