input {
  width: 100%;
  height: 25px;
  text-indent: 10px;
  margin-bottom: 15px;
}

textarea {
  width: 100%;
  height: 50px;
  text-indent: 10px;
  margin-bottom: 15px;
}

.button-crud {
  background-color: #4caf50;
  border-color: #4caf50;
  max-width: 5%;
  min-height: 0.1em;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  border-radius: 3px;

  p {
    padding-top: 12px;
  }
}
